<div class="mt-4">
    {{#if message }}
        <div class="alert alert-{{message.type}}" role="alert">
            <button type="button" class="close" data-dismiss="alert"> &times;</button>
            <strong>{{message.intro}}</strong> {{message.message}}
        </div>
    {{/if}}
</div>
{{> slide}}
<div class="container">
   
    <div class="mt-4">
        <h1>BÀI VIẾT</h1>
        <div class="container book">
            <div class="row">
            {{#each books}}
                <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                    <img class="img-responsive" src="{{this.img}}" alt="Card image cap">
                    <div class="card-body">
                         <a href="/detailBook/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <a href="/detailBook/{{this.slug}}" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                    </div>  
                </div>
            {{/each}}
        </div>
        </div>
    
    </div>
</div>

  {{> footer}}